@font-face {
  font-family: 'Wire One';
  font-style: normal;
  font-weight: 400;
  src: local('Wire One'), local('WireOne'), url(http://fonts.gstatic.com/s/wireone/v6/rLTvRwYavTGtXnsB7H7e_PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
